#grid
{
    display: flex;
    max-width: 640px;
    max-height: 640px;
}

button
{
    margin-bottom: 20px;
    height: 40px;
    width: 70px;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
